n8n/wf12-chat-claude-whatsapp.json
{
  "name": "WF12 — Chat Claude Respuestas WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf12-chat-claude",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf12-node-001",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "wf12-hook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-hasmsg",
              "leftValue": "={{ $json.body.message.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf12-node-002",
      "name": "¿Tiene Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 1024, system: 'Eres el asistente de Danny, asesor comercial de HolaTacna (turismo médico-dental, Chile → Tacna Perú).\\n\\nContexto:\\n- Implantes completos (implante + corona): ~$350-450 USD, ~60% más barato que en Chile\\n- Clínica aliada: Centro Odontológico MonteCarlo, Dr. Alan Reyes\\n- Proceso: evaluación gratuita → plan de tratamiento → cita en Tacna\\n- Si no tienen radiografía panorámica, se toma en Tacna el día de la consulta\\n\\nInstrucción:\\nDanny te pegará una conversación de WhatsApp con un paciente. Tu única tarea es redactar el PRÓXIMO mensaje que Danny debe enviarle a ese paciente. El mensaje debe ser cálido, directo, en español chileno informal (tuteo). NO incluyas la conversación, NO expliques nada, NO pongas comillas ni etiquetas. Solo escribe el texto del mensaje listo para copiar y pegar.\\n\\nSi el mensaje que recibes no parece una conversación de WhatsApp, responde únicamente: \"Pégame la conversación de WhatsApp con el paciente y te genero la respuesta.\"', messages: [{ role: 'user', content: $json.body.message.text }] }) }}",
        "options": {}
      },
      "id": "wf12-node-003",
      "name": "Claude — Generar Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8560629617:AAEqU6y_r1-e8YnnpOdQ09xMhqRQkglSfqY/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $('Webhook Telegram').first().json.body.message.chat.id, text: $json.content[0].text }) }}",
        "options": {}
      },
      "id": "wf12-node-004",
      "name": "Telegram — Enviar Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 180]
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [{ "node": "¿Tiene Texto?", "type": "main", "index": 0 }]
      ]
    },
    "¿Tiene Texto?": {
      "main": [
        [{ "node": "Claude — Generar Respuesta", "type": "main", "index": 0 }],
        []
      ]
    },
    "Claude — Generar Respuesta": {
      "main": [
        [{ "node": "Telegram — Enviar Respuesta", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
