n8n/wf6-agente-asesor-whatsapp.json
{
  "name": "WF6 Agente Asesor WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf6-asesor-whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf6-node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "wf6-hook-001"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.body;\nconst data = typeof raw === 'string' ? JSON.parse(raw.replace(/^=\\s*/, '').trim()) : raw;\nreturn [{ json: data }];"
      },
      "id": "wf6-node-parse",
      "name": "Parsear Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 512, system: 'Eres el Asesor Comercial de HolaTacna, plataforma que conecta pacientes chilenos con clinicas dentales especializadas en Tacna, Peru. Generas mensajes de WhatsApp personalizados para el primer contacto con leads. REGLAS: 1) Usa solo el primer nombre. 2) Menciona el servicio exacto que busca y el ahorro real vs Chile. 3) Tono calido y cercano, como un asesor personal, NO vendedor ni corporativo. 4) NUNCA menciones el nombre de ninguna clinica especifica. 5) Maximo 120 palabras. 6) Maximo 3 emojis bien espaciados. 7) Usa asteriscos para negrita en WhatsApp: *texto*. 8) Cierra con pregunta concreta que califique al lead (ciudad, diagnostico previo, fecha tentativa). 9) Devuelve SOLO el texto del mensaje, sin comillas ni explicaciones. SERVICIOS Y AHORROS: Implantes dentales hasta 60% menos que Chile, Ortodoncia hasta 50% menos, Carillas de porcelana hasta 60% menos, Blanqueamiento hasta 50% menos. REGLAS CRITICAS ADICIONALES: 10) JAMAS inventes ni especifiques cantidades exactas de implantes u otros procedimientos si el paciente uso expresiones como \"4 o mas\", \"varios\", \"algunos\" — repite su expresion exacta o usa terminos generales como \"varios implantes\" o \"implantes multiples\". 11) NUNCA menciones precios ni costos especificos — solo menciona el porcentaje de ahorro vs Chile. 12) Si el lead no tiene diagnostico previo NI radiografia: explica que para dar un presupuesto real se necesita una radiografia panoramica. Opcion A: si puede sacarsela en Chile antes de viajar, que la envie y los especialistas analizan el caso y dan el costo exacto. Opcion B: si prefiere hacerlo al llegar a Tacna, la radiografia panoramica cuesta S/150 (aproximadamente $39.000 pesos chilenos) y esta lista en menos de 1 hora, luego los especialistas dan el presupuesto completo el mismo dia. NUNCA prometas evaluacion presencial gratuita ni presupuesto sin radiografia previa.', messages: [{ role: 'user', content: 'Nombre: ' + $('Parsear Body').first().json.name + ' | Servicio: ' + $('Parsear Body').first().json.service_name + ' | Ciudad: ' + ($('Parsear Body').first().json.city_interest || 'Chile') + ' | Mensaje original del paciente: ' + ($('Parsear Body').first().json.message || 'sin mensaje') + '. IMPORTANTE: usa las palabras exactas del paciente para describir su caso, no interpretes ni cambies cantidades. Genera el primer mensaje WhatsApp personalizado.' }] }) }}",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "wf6-node-002",
      "name": "Claude — Generar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeMsg = $input.first().json.content[0].text;\nconst lead = $('Parsear Body').first().json;\n\nreturn [{ json: {\n  ai_message: claudeMsg,\n  lead_name: lead.name,\n  lead_phone: lead.phone,\n  service_name: lead.service_name,\n  city_interest: lead.city_interest || 'Chile'\n} }];"
      },
      "id": "wf6-node-build",
      "name": "Armar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8560629617:AAEqU6y_r1-e8YnnpOdQ09xMhqRQkglSfqY/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chat_id: '8789162933',\n  text: '🤖 <b>Mensaje WhatsApp sugerido por IA</b>\\n\\n👤 ' + $json.lead_name + '\\n📱 ' + $json.lead_phone + '\\n🏥 ' + $json.service_name + '\\n🌆 ' + $json.city_interest + '\\n\\n<b>━━━ MENSAJE SUGERIDO ━━━</b>\\n\\n' + $json.ai_message + '\\n\\n<b>━━━━━━━━━━━━━━━━━━━━</b>\\n\\n<i>Copia y envía por WhatsApp. Puedes ajustarlo.</i>',\n  parse_mode: 'HTML'\n}) }}",
        "options": {}
      },
      "id": "wf6-node-004",
      "name": "Telegram — Mensaje AI al Equipo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parsear Body", "type": "main", "index": 0 }]]
    },
    "Parsear Body": {
      "main": [[{ "node": "Claude — Generar Mensaje WhatsApp", "type": "main", "index": 0 }]]
    },
    "Claude — Generar Mensaje WhatsApp": {
      "main": [[{ "node": "Armar Mensaje", "type": "main", "index": 0 }]]
    },
    "Armar Mensaje": {
      "main": [[{ "node": "Telegram — Mensaje AI al Equipo", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
